.App {
  text-align: center;
}

#element {
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
  /*visibility: hidden;*/
}

#alphasdk-video {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: gainsboro;
}

.rects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  direction: ltr;
  margin-top: 10px;
}

.rect {
  flex: 1;
  height: 50%;
  margin: 0 1px;
  background: #1b4b72;
  transition: background-color 0.3s ease;
}

@keyframes stretch {
  100% {
      height: 100%;
  }
}

.rect.stretched {
  animation: stretch 0.3s ease forwards;
  background-color: #38c172 !important;
}

#element {
  margin-top: 5%;
  width: 400px;
}